#mainBox {
  margin: 0 auto 5% auto;
  color: white;
  padding: 5%;
  position: static;
  background: rgba(0,0,0,0.4);
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  height: 700px;
  backdrop-filter: blur(20px);
}

.content {
  width: 50%;
  height: 100%;
  float: left;
}

#contentLeft {
  text-align: left;
  padding-left: 5%;
  padding-right: 30px;
}

#contentRight {
  text-align: center;
  padding-left: 10%;
}

.photo {
  position: relative;
  float: center;
  top: 0px;
  width: 60%;
  border: 2px solid black;
  border-radius: 5px;
}
